$color-primary: #0E5978;
$color-secondary: #262626;

$color-blue1 : #0A4259;
$color-blue2 : #F0F9FC;
$color-blue3 : #12749D;

$color-gray-1 : #484848;
$color-gray-2 : #F6F6F6;

$color-white: #fff;
$color-black: #000;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;