@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap');

html {
  font-family: 'Noto Sans TC', sans-serif;
  color: $color-primary;
  font-weight: $light;
}

html,
body {
  margin: 0;
  padding: 0;
}


