.search {
  width: 348px;
  background-color: $color-white;
  box-shadow: 0px 0px 10px rgba(38, 38, 38, 0.25);
  border-radius: 8px;
  position: absolute;
  left: 24px;
  top: 104px;
  z-index: 10;

  .block {
    border-radius: 8px 8px 0 0;
    height: 24px;
    background-color: $color-primary;
  }

  .filter {
    padding: 0 16px;
  }

  .title {
    line-height: 1.2;
    margin: 16px 0;
    margin-bottom: 16px;
    display: flex;

    & h1 {
      font-size: 32px;
      font-weight: $bold;
    }

    &__select {
      margin-left: 20px;
      display: flex;
      align-items: center;

      & img {
        cursor: pointer;
      }
    }
  }

  .keyword {
    position: relative;

    & input {
      font-size: 16px;
      font-weight: $regular;
      width: 100%;
      border: 1px solid $color-primary;
      background-color: #F6F6F6;
      border-radius: 4px;
      padding: 10px 10px 10px 40px;

      &::placeholder {
        color: #A5A5A5;
        transform: translateY(1px);
      }
    }

    &--iconSearch  {
      width: 20px;

      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
    }

    &--iconCancle {
      width: 16px;
      cursor: pointer;
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
    }
  }
  
  .btns {
    margin: 12px 0 20px;

    display: flex;
    justify-content: space-between;

    & button {
      width: 152px;
    }
  }
}

.page {
  width: 100%;
  height: 56px;
  padding: 0 24px;
  background-color: $color-white;

  display: flex;
  align-items: center;
  justify-content: center;

  &__numbers {
    font-size: 14px;
    font-weight: $bold;
    min-width: 60px;
    height: 40px;
    line-height: 39px;
    background-color: $color-gray-2;
    border: 1px solid #A5A5A5;
    border-radius: 4px;
    text-align: center;
    padding: 0 5px;
    margin: 0 28px;
  }

  & button {
    cursor: pointer;

    & i {
      font-size: 16px;
    }
  }
}

/* MAP */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: $color-white;
  border-radius: 8px;
  width: 350px;
  min-height: 255px;
}

.leaflet-popup-tip-container {
  display: none;
}

.mapPopup {
  font-size: 16px;

  &__content {
    width: 310px;
  }

  &__title {
    width: 100%;
    font-size: 20px;
    font-weight: $bold;
    margin-bottom: 12px;
    display: flex;
    flex-wrap: nowrap;
  }

  &__address,
  &__updateTime {
    margin-bottom: 12px;

    & i {
      font-size: 20px;
      color: $color-primary;
      margin-right: 8px;
    }

    & span {
      font-weight: $regular;
      color: $color-gray-1;
    }
  }

  &__tags {
    margin-bottom: 12px;
    display: flex;

    & button {
      width: 72px;
      margin-right: 12px;
    }
  }

  &__numbers {
    display: flex;
    justify-content: space-between;

    & div {
      width: 148px;
      height: 75px;
      border: 1px solid $color-primary;
      border-radius: 4px;
      text-align: center;
    }

    & h2 {
      font-weight: $bold;
      color: $color-primary;
      margin: 4px 0 8px;
    }

    & span {
      font-size: 28px;
      font-weight: $bold;
      color: $color-secondary;
    }
  }
}